.box{
 display: flex;
 margin-left: 400px;
 border-radius: 20px;
}
/* .img{
    width:300px;
    height: 500px;
} */
.box3{
    margin-left: 100px;
    margin-top: 100px;
    
}
h1{
    color: #ff4f00;
    margin-left: 29px;
}
input[type="email"]{
    margin-top: 20px;
    width: 350px;
    height: 50px;
    border-radius: 7px;

}
input[type="text"]{
    margin-top: 30px;
    width: 170px;
    height: 40px;
    border-radius: 7px;
}
input[type="password"]{
    margin-top: 20px;
    width: 350px;
    height: 50px;
    border-radius: 7px;
}
button{
    width: 350px;
    height:40px;
    background-color: #ff4f00;
    border-color: #ff4f00;
    border-radius: 8px;
    color: white;
}
.box4{
    font-size: 20px;
    margin-left: 25px;
}
img{
    margin-top: 110px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}
body{
    background-color: rgb(249, 242, 242);
}
.ch1{
    display: flex;
    align-items: center;
    margin-right: 10px;
}
.ch2{
    display: flex;
    align-items: center;
    margin-right: 10px;
}
.ch3{
    display: flex;
    align-items: center;
    margin-right: 10px;
}


















